body {
    color: black;
    background: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p{
   line-height: 1.5; 
}

article + article {
    margin-top: 3rem;
    padding: 3rem;
    border-top: 2px solid grey;

}